<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>EPUBImagesView</name>
<type>edit</type>
<author>赤霓</author>
<description>在一个新窗口中，网格显示EPUB内的图像缩略图。Displays thumbnail grids of images within an EPUB in a new window.</description>
<engine>python3.4</engine>
<version>0.3</version>
<oslist>osx,unx,win</oslist>
<autostart>true</autostart>

</plugin>
